{% extends '_layouts/_master' %}


{% block content %}
    <section x-data="data()" @notify="showDialog($event.detail.id)">
        <h1 class="text-white text-4xl font-arvo font-bold">{{ entry.title }}</h1>

        {% set teachers = craft.entries().section('teachers') %}

        <div class="grid grid-cols-1 gap-5 lg:grid-cols-2 ml-7 mt-12">
            {% for teacher in teachers.all() %}
                {% set fullName    = teacher.teacherFirstName ~ ' ' ~  teacher.teacherLastName %}
                {% set position    = teacher.title                                             %}
                {% set tagline     = teacher.teacherTagline                                    %}
                {% set description = teacher.teacherDescription                                %}
                {% set profile     = teacher.teacherProfileImage.one()                         %}
                {% do  profile     . setTransform('teacherProfileForTeacherCards')             %}


                <section class="flex items-center text-white p-6 cursor-pointer
            hover:bg-white/10 border border-background hover:border-thirdinary
            hover:rounded-lg hover:shadow-md transition transition-all"
                         @click="$dispatch('notify', { id: '{{ teacher.id }}' })"
                >
                    <img
                            src="{{ profile.url() }}"
                            alt="{{ fullName }}"
                            class="rounded-full mr-8"
                    >

                    <div class="teacher-contents">
                        <h2 class="font-medium text-2xl">{{ fullName }}</h2>

                        <p class="text-base">
                            {{ position }}, {{ tagline }}
                        </p>

                        <input id="{{ 'teacher-info_' ~ teacher.id }}"
                               type="hidden" disabled readonly
                               value='{
                                    "position"    : "{{ position }}   ",
                                    "fullname"    : "{{ fullName }}   ",
                                    "description" : "{{ description }}"
                               }'
                        >
                    </div>
                </section>

            {% endfor %}

            <div class="lg:col-span-2 flex items-center justify-center mt-12">

                <button class="bg-accent rounded shadow px-6 py-3 text-white hover:bg-accent/70 transition-all">
                    View More
                </button>

            </div>
        </div>

        <div x-show="show" class="fixed inset-0 backdrop-blur bg-black/10 overflow-y-auto h-full w-full p-modal-mobile lg:p-modal">

            <div @click.away="closeDialog()" class="relative mx-auto py-10 px-10 lg:py-32 lg:px-32 w-full shadow-lg rounded-md bg-dark text-white flex flex-col justify-center ">

                <h3 class="text-center lg:text-left text-xl lg:text-3xl lg:font-arvo font-medium"
                    x-text="teacherInfo.position">
                </h3>

                <div class="flex flex-col lg:flex-row lg:items-center lg:justify-around">
                    {% include '_assets/_teacher-logo' with { 'class': 'w-48 h-48 my-4 m-auto lg:mr-10 lg:w-96 lg:my-0 lg:mt-8 md:w-64' } %}

                    <div>
                        <h3 class="text-lg font-medium"
                            x-text="teacherInfo.fullname">
                        </h3>

                        <div class="text-sm text-4 mt-4" x-html="teacherInfo.description"></div>
                    </div>
                </div>

            </div>
        </div>

        <script>
            function data() {
                return {
                    show: false,
                    test: 'hello...',
                    teacherInfo: null,
                    showDialog(id) {
                        const teacherInfoElement = document.getElementById('teacher-info_' + id)
                        this.teacherInfo         = JSON.parse(teacherInfoElement.value)
                        this.show = true
                    },
                    closeDialog() { this.show = false },
                    isOpen() { return this.show === true },
                }
            }
        </script>
    </section>


{% endblock %}