<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ entry.title }}</title>

    {% if entry.pageDescription != null %}
        <meta name="description" content="{{ entry.pageDescription }}">
    {% else %}
        <meta name="description" content="This is a new website made by craft-cms!">
    {% endif %}

    <!-- Google Font [Arvo] -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">

    <!-- Google Font [Inter] -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">

    <!-- Tailwind CSS [Play-CDN] -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Tailwind Config -->
    <script>
        tailwind.config = {
            theme: {
                fontFamily: {
                    arvo: '"Arvo", sans-serif',
                    inter: '"Inter", sans-serif',
                },
                extend: {
                    colors: {
                        background      : '#2DAF90',
                        accent          : '#4F46E5',
                        dark            : '#354159',
                        primary         : '#111827',
                        secondary       : '#6B7280',
                        thirdinary      : '#B8B8B8',
                    },
                    spacing: {
                        container: '123px 174px',
                        'container-mobile': '24px',
                        modal    : '174px 174px',
                        'modal-mobile'    : '24px',
                    }
                }
            }
        }
    </script>

    <!-- AlpineJS [CDN] -->
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body class="bg-background p-container-mobile lg:p-container font-inter">

{% block content %}

{% endblock %}

</body>
</html>