{% extends '_layouts/_master' %}

{% block content %}
    <h1 class="text-white text-4xl font-arvo font-bold">{{ entry.title }}</h1>
    <p class="text-white text-xl mt-4">{{ entry.pageDescription }}</p>

    <section id="events__event-cards" class="mt-12 grid grid-cols-1 gap-y-5 md:grid-cols-2 md:gap-x-5 lg:grid-cols-3">
        {% set events = craft.entries().section('events')                   %}
        {% for event in events.limit(3).all()|reverse                       %}
            {% set eventCover     = event.eventCoverImage.one               %}
            {% set eventTitle     = event.title                             %}
            {% set eventType      = event.eventType                         %}
            {% set eventAbstract  = event.eventAbstract                     %}
            {% set eventReadTime  = event.eventReadTime                     %}
            {% set eventAuthor    = event.eventAuthor.one()                 %}
            {% set authorFullName = eventAuthor.authorFirstName ~ ' ' ~
                eventAuthor.authorLastName              %}
            {% set authorProfile  = eventAuthor.authorProfilePhoto.one      %}
            {% do authorProfile.setTransform('authorProfileForEventCards')  %}
            {% do eventCover   .setTransform('eventCardCoverImage')         %}

            <article class="bg-white flex flex-col rounded-lg overflow-hidden shadow-md">
                <img height="114" src="{{ eventCover.url }}" alt="{{ eventTitle }}">
                <div class="p-6 flex flex-col justify-between h-full">
                    <div>
                        <em class="text-sm font-medium not-italic capitalize text-accent">{{ eventType }}</em>
                        <h2 class="font-semibold text-xl mt-2 mb-3 text-primary">{{ eventTitle }}</h2>
                        <p class="text-base font-normal text-secondary">{{ eventAbstract }}</p>
                    </div>
                    <div class="event__card-footer mt-6">
                        <div class="event-author flex items-center">
                            <img src="{{ authorProfile.url }}"
                                 alt="{{ authorFullName }}"
                                 class="rounded-full mr-3"
                            >
                            <div class="text-sm">
                                <p class="font-semibold font-inter text-primary">{{ authorFullName }}</p>
                                <p class="font-normal font-inter text-secondary">
                                    {{ entry.postDate | date("M d, Y") }}
                                    {% if eventReadTime != null %}
                                        <span class="reading-time"> • {{ eventReadTime }} Minutes</span>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        {% endfor %}

    </section>
{% endblock %}